.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  
  button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  