.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /* 최소 크기를 150px로 줄여 더 많은 항목 배치 */
  gap: 20px;
  padding: 20px;
}

/* 모바일 화면에 대한 스타일링 추가 */
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr; /* 한 열에 하나씩 표시 */
  }

  .product-card img {
    height: auto;
    max-width: 100%;
  }
}
